{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-hover">
        <tbody>
            <tr>
                <th></th>
                <td><b>User data</b></td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>User name</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Last login date</th>
                <td>{{ user.lastLogin|date("Y-m-d H:i:s") }}</td>
            </tr>
            <tr>
                <th>Permissions</th>
                <td>
                {% for role in user.roles %}
                    {{ role }}{% if false == loop.last %}, {% endif %}
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">All Users</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
