{% extends 'base.html.twig' %}

{% block body %}
    {% include "AppBundle:LayoutController:test.html.twig" %}
{#    <h1 class="text-center my-5">Your notices</h1>#}

{#    <table class="table table-hover">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>Title</th>#}
{#            <th>Content</th>#}
{#            <th>Image</th>#}
{#            <th>Expiration date</th>#}
{#            <th></th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for notice in notices %}#}
{#            <tr>#}
{#                <td>{{ notice.title }}</td>#}
{#                <td>{{ notice.description }}</td>#}
{#                <td><a href="{{ asset('uploads/images/' ~ notice.image) }}">View image (jpg)</a></td>#}
{#                <td>{{ notice.expiration|date("Y-m-d") }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('notice_show', { 'id': notice.id }) }}">Pokaż</a>#}


{#                        <a href="{{ path('notice_edit', { 'id': notice.id }) }}">Edytuj</a>#}
{#                    {{ form_start(delete_forms[loop.index0]) }}#}
{#                    <input type="submit" value="Usuń">#}
{#                    {{ form_end(delete_forms[loop.index0]) }}#}

{#                </td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}


    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <ul class="mt-5 list-group">
            <li class="list-group-item">
                <a class="btn btn-primary btn-block" href="{{ path('notice_new') }}">Stwórz nowe ogłoszenie</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-info btn-block" href="{{ path('menu') }}">Wróć do menu podstawowego</a>
            </li>
        </ul>
    {% else %}


        <a class="btn btn-success btn-block mt-5" href="{{ path('homepage') }}">Powrót do strony startowej</a>

    {% endif %}
{% endblock %}
