{% extends '::base.html.twig' %}

{% block body %}
    <h1>Notices list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Expiration</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for notice in notices %}
            <tr>
                <td><a href="{{ path('notice_show', { 'id': notice.id }) }}">{{ notice.id }}</a></td>
                <td>{{ notice.title }}</td>
                <td>{{ notice.description }}</td>
                <td>{{ notice.image }}</td>
                <td>{{ notice.expiration }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('notice_show', { 'id': notice.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('notice_new') }}">Stwórz nowe ogłoszenie</a>
        </li>
        <li>
            <a href="{{ path('app_notice_shownoticesbyuserid', { 'id': id }) }}">Wyświetl swoje ogłoszenia </a>
        </li>

        <li>
            <a href="{{ path('menu') }}">Wróć do menu podstawowego</a>
        </li>
    </ul>
{% endblock %}
