{% extends "::base.html.twig" %}

{% block body %}

    {% if is_granted("ROLE_ADMIN") %}
        {{ render(path('admin_menu')) }}
    {% else %}
        <h2>Wybierz co chcesz zrobić</h2>
        <div>
            <p>Jesteś zalogowany jako
                <span> <b><i>{{ username }}</b></i> </span>
            </p>
        </div>
        <div>
            <a href="{{ path('fos_user_security_logout') }}">Wyloguj się</a>
        </div>
        <ul>
            <li><a href="{{ path('notice_new') }}">Dodaj ogłoszenie</a></li>
            <li><a href="{{ path('app_notice_shownoticesbyuserid', { 'id': id }) }}">Wyświetl swoje ogłoszenia </a></li>
            <li><a href="{{ path('notice_index') }}">Wyświetl wszystkie ogłoszenia</a></li>
            {#        <li>{{ id }}</li>#}
        </ul>
    {% endif %}
{% endblock %}
