{% extends 'base.html.twig' %}

{% block body %}

    {% include "AppBundle:LayoutController:navbar.html.twig" %}
    <h4>Comments list</h4>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Comment text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td><a href="{{ path('comment_show', { 'id': comment.id }) }}">{{ comment.id }}</a></td>
                <td>{{ comment.user }}</td>
{#                <td><a href="{{ path('comment_show', { 'notice_id': comment.notice_id }) }}">{{ comment.notice_id }}</a></td>#}
                <td>{{ comment.commentText }}</td>
                <td>

                            <a href="{{ path('comment_show', { 'id': comment.id }) }}">Show</a>

                            <a href="{{ path('comment_edit', { 'id': comment.id }) }}"> | Edit</a>

                            {% if is_granted("ROLE_ADMIN") %}
                            {{ form_start(delete_forms[loop.index0]) }}
                                <button type="submit">Delete</button>
                            {{ form_end(delete_forms[loop.index0]) }}
                            {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comment_new') }}">Create a new comment</a>
        </li>
    </ul>
{% endblock %}
