{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notices list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>Expiration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notice in notices %}
            <tr>
                <td><a href="{{ path('notice_show', { 'id': notice.id }) }}">{{ notice.id }}</a></td>
                <td>{{ notice.title }}</td>
                <td>{{ notice.description }}</td>
                <td><a href="{{ asset('uploads/images/' ~ notice.image) }}">View image (jpg)</a></td>
                <td>{{ notice.expiration|date("Y-m-d") }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('notice_show', { 'id': notice.id }) }}">Pokaż</a>
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}
                        <li>
                            <a href="{{ path('notice_edit', { 'id': notice.id }) }}">Edytuj</a>
                        </li>
                        <li>
                            <a href="{{ path('notice_delete', { 'id': notice.id }) }}">Usuń</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('notice_new') }}">Stwórz nowe ogłoszenie</a>
        </li>
        <li>
            <a href="{{ path('menu') }}">Wróć do menu podstawowego</a>
        </li>
    </ul>
{% endblock %}
