{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="{{ path('notice_index') }}" class="nav-link">All Notices</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('menu') }}" class="nav-link">Go back</a>
            </li>
        </ul>
    </nav>
    <h4>Add Your Notice</h4>

    {{ form_start(form) }}
{#    {{ form_label(form.expiration, 'Data wygaśnięcia ogłoszenia') }}#}
{#    {{ form_widget(form.expiration, { }) }}#}
    {{ form_row(form.title, {'label': 'Ttile'}) }}
    {{ form_row(form.description, {'label': 'Content'}) }}
    {{ form_row(form.image, {'label': 'Insert picture'}) }}
    {{ form_row(form.category, {'label': 'Category'}) }}
    <input type="submit" value="Add" />
    {{ form_end(form) }}

{% endblock %}
