{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stwórz nowe ogłoszenie</h1>

    {{ form_start(form) }}
    {{ form_label(form.expiration, 'Data wygaśnięcia ogłoszenia') }}
    {{ form_widget(form.expiration, { }) }}
    {{ form_row(form.title, {'label': 'Tytuł'}) }}
    {{ form_row(form.description, {'label': 'Opis'}) }}
    {{ form_row(form.image, {'label': 'Wstaw zdjęcie'}) }}
    {{ form_row(form.category, {'label': 'Kategoria'}) }}
    <input type="submit" value="Utwórz" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('showallnotices') }}">Wróć do listy wszystkich ogłoszeń</a>
        </li>
        <li>
            <a href="{{ path('menu') }}">Wróć do menu podstawowego</a>
        </li>
    </ul>
{% endblock %}
