{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notice</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notice.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ notice.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ notice.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ notice.image }}</td>
            </tr>
            <tr>
                <th>Expiration</th>
                <td>{{ notice.expiration|date("Y-m-d") }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
{#            <a href="{{ path('notice_index') }}">Back to the list</a>#}
            <a href="{{ path('app_notice_shownoticesbyuserid', {'id': notice.userId.user.id}) }}">Wróć do listy swoich ogłoszeń</a>
        </li>
        <li>
            <a href="{{ path('showallnotices') }}">Wróć do listy wszytkich ogłoszeń</a>
        </li>
        <li>
            <a href="{{ path('menu') }}">Wróć do menu podstawowego</a>
        </li>

    </ul>
{% endblock %}
