{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/style_commentbox.css" type="text/css">
{% endblock %}

{% block body %}
    <h1>Notice</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ notice.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ notice.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ notice.description }}</td>
        </tr>
        {% if notice.image %}
            <tr>
                <th>Image</th>
                {#                <td>{{ notice.image }}</td>#}
                <td><a href="{{ asset('uploads/images/' ~ notice.image) }}"><img
                                src="{{ asset('uploads/images/' ~ notice.image) }}" width="200"
                                title="View image (jpg)"/></a>
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>Expiration</th>
            <td>{{ notice.expiration|date("Y-m-d") }}</td>
        </tr>
        </tbody>
    </table>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <ul>
        <li>
            <a href="{{ path('app_notice_shownoticesbyuserid', {'id': notice.userId.user.id}) }}">Wróć do listy swoich
                ogłoszeń</a>
        </li>
        <li>
            <a href="{{ path('notice_index') }}">Wróć do listy wszytkich ogłoszeń</a>
        </li>
        <li>
            <a href="{{ path('menu') }}">Wróć do menu podstawowego</a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('notice_index') }}">Wróć do listy wszytkich ogłoszeń</a>
        </li>
    {% endif %}
    </ul>

    {% if notice.comments %}
        <div class="detailBox">
        <div class="titleBox">
            <label>Komentarze</label>
            <button type="button" class="close" aria-hidden="true">&times;</button>
        </div>
        {% for comment in notice.comments %}
            <div class="commentBox">
                <div class="actionBox">
                    <ul class="commentList">
                        <li>
                            <div class="commentText">
                                <p class="taskDescription">{{ comment.commentText }}</p>
                                <span class="date sub-text">{{ comment.creationDate|date("Y-m-d")}}</span>
                            </div>
                        </li>

                    </ul>

                </div>

            </div>
        {% endfor %}
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form.commentText, {'label': 'Wstaw komentaż'}) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
    {{ form_end(form) }}
    </div>
{% endblock %}
