{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notice</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ notice.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ notice.title }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ notice.description }}</td>
        </tr>
        {% if notice.image %}
        <tr>
            <th>Image</th>
            {#                <td>{{ notice.image }}</td>#}
            <td><a href="{{ asset('uploads/images/' ~ notice.image) }}"><img
                            src="{{ asset('uploads/images/' ~ notice.image) }}" width="200"
                            title="View image (jpg)"/></a>
            </td>
        </tr>
        {% endif %}
        <tr>
            <th>Expiration</th>
            <td>{{ notice.expiration|date("Y-m-d") }}</td>
        </tr>
        </tbody>
    </table>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <ul>
        <li>
            <a href="{{ path('app_notice_shownoticesbyuserid', {'id': notice.userId.user.id}) }}">Wróć do listy swoich
                ogłoszeń</a>
        </li>
        <li>
            <a href="{{ path('notice_index') }}">Wróć do listy wszytkich ogłoszeń</a>
        </li>
        <li>
            <a href="{{ path('menu') }}">Wróć do menu podstawowego</a>
        </li>
        {% else %}
            <li>
                <a href="{{ path('notice_index') }}">Wróć do listy wszytkich ogłoszeń</a>
            </li>
    {% endif %}
    </ul>
{% endblock %}
